*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(háttér2.jpg);
    background-size: cover;
    background-position: center;
}
h1{
    font-size: 70px;
    margin-top: 80px;
    color: white;
    text-align: center;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    align-items: center;
    justify-content: space-between;
}
h2{
    color: white;
    text-decoration: underline;
}
h3{
    color: white;
    text-decoration: underline;
}
#videokartya{
    width: 230px;
    height:200px;
    object-fit: cover;
    border: 1px solid silver;
    margin-bottom: 20px;
}
p{
    color:white;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid red;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: red;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
#underlined{
    text-decoration: underline;
    color:white;
}
